/*--------------------------- Table of Contents ------------------------------------*/
/*--------------------------- Main elemnts -----------------------------------------*/
/*--------------------------- Typography -------------------------------------------*/
/*--------------------------- Responsive elements ----------------------------------*/




/*--------------------------  Main elements ----------------------------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin:0px;
    border: 0;
    display: block;
    /*color: #fff;*/

}


/*--------------------------- Typography -------------------------------------------*/

h1{
     font-family: 'Open Sans', sans-serif;
    font-size: 55px;

}

/*--------------------------- Responsive elements ----------------------------------*/

#floor{
  height: 100vh;
  width: 100vw;
  margin: auto;
/*  background: #000;*/
  display: block;


}
