/*--------------------------- Table of Contents ------------------------------------*/
/*--------------------------- Main elemnts -----------------------------------------*/
/*--------------------------- Typography -------------------------------------------*/
/*--------------------------- Responsive elements ----------------------------------*/




/*--------------------------  Main elements ----------------------------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    width: 99%%;
    height: 99%;
    /*margin:0px;
    border: 0;*/
    display: block;
    display: hidden;
    color: #000;

}


/*--------------------------- Typography -------------------------------------------*/

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;

}

/*--------------------------- Responsive elements ----------------------------------*/

#floor{
/*  height: 500px;
  width: 500px;
  background: #000;*/
  display: block;
  margin: auto;


}
